@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

a{
    color: white;
}

h2{
    text-align: center;
    margin: 80px 0 20px 0;
    font-size: 2em;
}

img{
    width: 100%;
}

#topo{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;

}

#menu ul{
    display: flex;
}

#menu ul li{
    padding-right: 20px;
}
#flex{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#flex figure{
    /*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    */

    flex: 1 1 200px;
    margin: 10px;
}
#grid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 780px;
    margin: auto;
}

#grid1 figure:nth-child(n+4){
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
#grid1 figure:nth-child(10){
    display: block;
    grid-auto-columns: 1;
    grid-row: 2/5;
}
#grid2 figcaption{
    margin-bottom: 10px;
}

#grid2{
    display: grid;
    grid-template-columns: 1fr 200px;
    max-width: 780px;
    margin: auto;
    gap: 20px;
}
#grid2 figure:nth-child(1){
    grid-row: 1/6;
}

#grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 780px;
    margin: auto;
    gap: 20px;
    padding: 10px;
}
#grid3 figure:nth-child(3){
    grid-row: 1/3;
}
#grid3 figure{
   display: grid; 
}

#grid3 figure img{
    grid-column: 1;
    grid-row: 1/3;
    align-items: flex-end;
}

#grid3 figure figcaption{
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    color: white;
    grid-column: 1;
    grid-row: 2;
    transition: 0.5s;
    height: 30px;

}

#grid3 figure figcaption{
    overflow: hidden;
}

#grid3 figure figcaption:hover{
    height: 200px;
    margin-top: -200px;
}
#grid3 figure figcaption #legenda-grande:hover{
    height: 700px;
    margin-top: -700px;
}







@media (max-width:600px){
    #grid1{
        grid-template-columns: repeat(2,1fr);
    }
    #grid1 figure:nth-child(n+4){
        display: block;
    }
    #grid1 figure:nth-child(10){
        grid-auto-columns: none;
        grid-row: auto;
        order: -1;
    }

    #grid2{
        grid-template-columns: 1fr;
    }

    #galeria{
        display: flex;
        overflow: scroll;
    }

    #galeria figure{
        flex: 1 0 200px;
        margin: 0px 10px;
    }



}

@media (max-width:807px){
    #grid3 figure img{
        height: 100%;
    }
}